.event-list {
  padding: 0 !important;
  height: 100%;
  max-height: 474px;

  &__item {
    padding: 16px 0 !important;
    height: auto !important;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(0,0,0,.12);
    }
  }

  &__items-wrap {
    display: flex;
    flex-direction: column;
  }

  &__scroll {
    overflow-y: auto;
  }

  &__date,
  &__text {
    display: block;
  }
}
