<mat-card class="calendar">
  <div class="calendar__container">
    <div class="calendar__header">
      <button
        class="calendar__arrow calendar__arrow--prev"
        (click)="changeToPrevMonth()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <div class="calendar__date-wrap">
        <div class="calendar__current-month">{{monthName}} {{year}}</div>
        <div class="calendar__current-day">{{currentDate | date}}</div>
      </div>
      <button
        class="calendar__arrow calendar__arrow--next"
        (click)="changeToNextMonth()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="calendar__weeks">
      <div class="calendar__week">Mon</div>
      <div class="calendar__week">Tue</div>
      <div class="calendar__week">Wed</div>
      <div class="calendar__week">Thu</div>
      <div class="calendar__week">Fri</div>
      <div class="calendar__week">Sun</div>
      <div class="calendar__week">Sat</div>
    </div>
    <div class="calendar__days">
      <button
        class="calendar__day calendar__day--prev"
        *ngFor="let day of daysOfPrevMonth"
      >{{day}}</button>
      <button
        class="calendar__day"
        *ngFor="let date of daysOfMonth"
        [ngClass]="(currentDay === date.day) && (currentMonth === month) ? 'calendar__day--today' : ''"
        (click)="onDateClick(date.fullDate)"
      >{{date.day}}</button>
      <button
        class="calendar__day calendar__day--next"
        *ngFor="let day of daysOfNextMonth"
      >{{day + 1}}</button>
    </div>
  </div>
</mat-card>
