  <mat-card
    *ngIf="eventDate"
    class="event">
    <button
      type="button"
      class="event__close">
      <mat-icon>close</mat-icon>
    </button>
    <mat-list class="event__list">
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Person:</div>
          <div class="event__value">{{eventDate.person}}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Date:</div>
          <div class="event__value">{{eventDate.date}}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Text:</div>
          <div class="event__value">{{eventDate.text}}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Days before:</div>
          <div class="event__value">{{eventDate.daysBefore}}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Is active:</div>
          <div class="event__value">{{eventDate.isActive}}</div>
        </div>
      </mat-list-item>
    </mat-list>
</mat-card>
