  <mat-card class="event">
    <button
      type="button"
      class="event__close">
      <mat-icon>close</mat-icon>
    </button>
    <mat-list class="event__list">
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Person:</div>
          <div class="event__value">Daria</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Date:</div>
          <div class="event__value">Aug 31, 2020</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Text:</div>
          <div class="event__value">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, quasi?</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Days before:</div>
          <div class="event__value">5</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="event__wrap">
          <div class="event__title">Is active:</div>
          <div class="event__value">yes</div>
        </div>
      </mat-list-item>
    </mat-list>
</mat-card>
