.dashboard {
  display: flex;
  position: relative;

  &__col {
    width: 50%;

    &--left {
      margin-right: 16px;
    }
  }

  &__add-button {
    position: absolute;
    top: -52px;
    left: -52px;
    z-index: 1;
  }
}
